  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  th {
    background-color: #f8f9fa;
    color: #495057;
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd; 
    font-weight: bold;
  }

  td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
  }

  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  tbody tr:hover {
    background-color: #e2e6ea;
  }

  td img {
    border-radius: 50%;
  }
  
  .container {
    padding: 20px;
  }

  h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  